.curr1,
.curr2,
.curr3 {
  display: none;
  margin: 0;
}
.amount1,
.amount2,
.amount3 {
  display: none;
  margin: 0;
}
.boxes {
  display: flex;
}
.box {
  display: flex;
  border: 3px solid #000;
  margin-right: 10px;
  padding: 30px;
}
